@charset 'UTF-8';   
@font-face {
    font-family: 'TitilliumWeb';
    src: url(/html-css-/desafios/desafio-site/font/TitilliumWeb-Light.ttf);
}

body {
    background-color: white;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: 1px solid black;
}

li {
    display: inline;
    margin: 10px;
}